In [1]:
import pandas as pd
import numpy as np

### Concatenate and transform pitches dataframes

In [48]:
games_2013 = pd.read_csv("games_2013.csv")
games_2013.head()

,Unnamed: 0,pitch,balls,strikes,count,batter,pitcher,umpire,home_pitcher,inning,run_diff
0,0,C,0,0,0-0,Ian Kinsler,Bud Norris,Sam Holbrook,1,1,0
1,1,X,0,1,0-1,Ian Kinsler,Bud Norris,Sam Holbrook,1,1,0
2,2,B,0,0,0-0,Elvis Andrus,Bud Norris,Sam Holbrook,1,1,0
3,3,S,1,0,1-0,Elvis Andrus,Bud Norris,Sam Holbrook,1,1,0
4,4,C,1,1,1-1,Elvis Andrus,Bud Norris,Sam Holbrook,1,1,0

In [49]:
games_2014 = pd.read_csv("games_2014.csv")
games_2014.head()

,Unnamed: 0,pitch,balls,strikes,count,batter,pitcher,umpire,home_pitcher,inning,run_diff
0,0,C,0,0,0-0,Yasiel Puig,Wade Miley,Tim Welke,1,1,0
1,1,F,0,1,0-1,Yasiel Puig,Wade Miley,Tim Welke,1,1,0
2,2,S,0,2,0-2,Yasiel Puig,Wade Miley,Tim Welke,1,1,0
3,3,B,0,0,0-0,Justin Turner,Wade Miley,Tim Welke,1,1,0
4,4,B,1,0,1-0,Justin Turner,Wade Miley,Tim Welke,1,1,0

In [50]:
games_2015 = pd.read_csv("games_2015.csv")

games_2015.head()

,Unnamed: 0,pitch,balls,strikes,count,batter,pitcher,umpire,home_pitcher,inning,run_diff
0,0,C,0,0,0-0,Matt Carpenter,Jon Lester,Mike Winters,1,1,0
1,1,S,0,1,0-1,Matt Carpenter,Jon Lester,Mike Winters,1,1,0
2,2,F,0,2,0-2,Matt Carpenter,Jon Lester,Mike Winters,1,1,0
3,3,B,0,2,0-2,Matt Carpenter,Jon Lester,Mike Winters,1,1,0
4,4,B,1,2,1-2,Matt Carpenter,Jon Lester,Mike Winters,1,1,0

In [51]:
# Combine games 2013 - 2015
# Drop unnecessary columns
pitches_df = pd.concat([games_2013, games_2014, games_2015])\
                .drop(columns=['Unnamed: 0', 'balls', 'strikes', 'batter'])

pitches_df.head()

  pitch count     pitcher        umpire  home_pitcher  inning  run_diff
0     C   0-0  Bud Norris  Sam Holbrook             1       1         0
1     X   0-1  Bud Norris  Sam Holbrook             1       1         0
2     B   0-0  Bud Norris  Sam Holbrook             1       1         0
3     S   1-0  Bud Norris  Sam Holbrook             1       1         0
4     C   1-1  Bud Norris  Sam Holbrook             1       1         0

In [52]:
# Drop all rows where pitch is not a called pitch
pitches_df = pitches_df[(pitches_df.pitch == 'C') | (pitches_df.pitch == 'B')]
pitches_df.head()

  pitch count     pitcher        umpire  home_pitcher  inning  run_diff
0     C   0-0  Bud Norris  Sam Holbrook             1       1         0
2     B   0-0  Bud Norris  Sam Holbrook             1       1         0
4     C   1-1  Bud Norris  Sam Holbrook             1       1         0
5     B   1-2  Bud Norris  Sam Holbrook             1       1         0
7     B   0-0  Bud Norris  Sam Holbrook             1       1         0

In [53]:
# Convert pitch column to True/False - whether pitch was a strike
# C = 'C'alled strike
# B = 'B'all (not strike)
pitches_df['strike_given_called'] = (pitches_df.pitch == 'C')
pitches_df.head()

,pitch,count,pitcher,umpire,home_pitcher,inning,run_diff,strike_given_called
0,C,0-0,Bud Norris,Sam Holbrook,1,1,0,True
2,B,0-0,Bud Norris,Sam Holbrook,1,1,0,False
4,C,1-1,Bud Norris,Sam Holbrook,1,1,0,True
5,B,1-2,Bud Norris,Sam Holbrook,1,1,0,False
7,B,0-0,Bud Norris,Sam Holbrook,1,1,0,False

In [54]:
# Drop pitch column
pitches_df = pitches_df.drop(columns=['pitch'])
pitches_df.head()

,count,pitcher,umpire,home_pitcher,inning,run_diff,strike_given_called
0,0-0,Bud Norris,Sam Holbrook,1,1,0,True
2,0-0,Bud Norris,Sam Holbrook,1,1,0,False
4,1-1,Bud Norris,Sam Holbrook,1,1,0,True
5,1-2,Bud Norris,Sam Holbrook,1,1,0,False
7,0-0,Bud Norris,Sam Holbrook,1,1,0,False

### Merge with pitcher data to get race of pitcher

In [55]:
# Get data from MLB census 2014
mlb_census_df = pd.read_csv("mlb_census.csv")
mlb_census_df.head()

,#,NAME,POS,POS (BROAD),BAT,THW,AGE,Height,WT,BIRTH CITY,BIRTH STATE,BIRTH COUNTRY,RACE,Experience,SCHOOL,SALARY,TEAM
0,13,Alex Avila,C,Catcher,L,R,27,71,210,"Hialeah, FL",FL,United States,Hispanic,5.0,Alabama,"$4,150,000",Detroit Tigers
1,30,David Robertson,RP,Pitcher,R,R,29,71,195,"Birmingham, AL",AL,United States,White,6.0,Alabama,"$5,215,000",New York Yankees
2,29,Tommy Hunter,RP,Pitcher,R,R,27,75,248,"Indianapolis, IN",IN,United States,White,6.0,Alabama,"$3,000,000",Orioles
3,20,Anthony Recker,C,Catcher,R,R,30,74,240,"Allentown, PA",PA,United States,White,3.0,Alvernia College,"$505,340",New York Mets
4,4,Nick Hundley,C,Catcher,R,R,30,73,196,"Corvallis, OR",OR,United States,White,6.0,Arizona,"$4,000,000",San Diego Padres

In [56]:
mlb_census_df = mlb_census_df[['NAME', 'RACE']].rename(columns={'NAME': 'pitcher_name', 'RACE': 'pitcher_race'})
mlb_census_df.head()

      pitcher_name pitcher_race
0       Alex Avila     Hispanic
1  David Robertson        White
2     Tommy Hunter        White
3   Anthony Recker        White
4     Nick Hundley        White

In [57]:
mlb_census_df.pitcher_race = mlb_census_df.pitcher_race.apply(lambda x : x.lower())

In [58]:
mlb_census_df.head()

      pitcher_name pitcher_race
0       Alex Avila     hispanic
1  David Robertson        white
2     Tommy Hunter        white
3   Anthony Recker        white
4     Nick Hundley        white

In [59]:
# Get researched data on other pitchers' races
missing_pitcher_df = pd.read_csv("pitcher_race.csv")
missing_pitcher_df.head()

    pitcher_name pitcher_race
0  Aaron Sanchez     hispanic
1   Alex Burnett     hispanic
2   Alex Claudio     hispanic
3   Alex Sanabia     hispanic
4  Andy Pettitte        white

In [60]:
missing_pitcher_df.pitcher_race.value_counts()

white        455
black         91
hispanic      87
asian         14
hispanic       1
Name: pitcher_race, dtype: int64

In [61]:
# Fix an extra space in an entry
missing_pitcher_df.pitcher_race = missing_pitcher_df.pitcher_race.apply(lambda x : x.replace("hispanic ", "hispanic"))

In [62]:
all_pitchers = pd.concat([missing_pitcher_df, mlb_census_df])
all_pitchers.head()

    pitcher_name pitcher_race
0  Aaron Sanchez     hispanic
1   Alex Burnett     hispanic
2   Alex Claudio     hispanic
3   Alex Sanabia     hispanic
4  Andy Pettitte        white

In [90]:
all_pitchers.pitcher_race.value_counts()

white       905
hispanic    302
black       162
asian        29
Name: pitcher_race, dtype: int64

In [63]:
# Perform left join on pitcher_name
# First, we must prepare
pitches_df = pitches_df.rename(columns={'pitcher': 'pitcher_name', 'umpire': 'umpire_name'})
pitches_df.head()

,count,pitcher_name,umpire_name,home_pitcher,inning,run_diff,strike_given_called
0,0-0,Bud Norris,Sam Holbrook,1,1,0,True
2,0-0,Bud Norris,Sam Holbrook,1,1,0,False
4,1-1,Bud Norris,Sam Holbrook,1,1,0,True
5,1-2,Bud Norris,Sam Holbrook,1,1,0,False
7,0-0,Bud Norris,Sam Holbrook,1,1,0,False

In [64]:
# We have to fix a character encoding problem
set(pitches_df.pitcher_name)

{'Chris\xa0Resop',
 'Dellin\xa0Betances',
 'John\xa0Baker',
 'Hansel\xa0Robles',
 'Keith\xa0Butler',
 'Joaquin\xa0Benoit',
 'Clay\xa0Rapada',
 'Danny\xa0Duffy',
 'Jon\xa0Garland',
 'Justin\xa0Germano',
 'Jeff\xa0Francis',
 'Collin\xa0Balester',
 'Jim\xa0Henderson',
 'Rafael\xa0Montero',
 'Eric\xa0Jokisch',
 'Rick\xa0Porcello',
 'Frankie\xa0Montas',
 'Daniel\xa0Corcino',
 'Erik\xa0Goeddel',
 'Cody\xa0Allen',
 'Blake\xa0Parker',
 'Adam\xa0Morgan',
 'Diego\xa0Moreno',
 'Casey\xa0Sadler',
 'Leury\xa0Garcia',
 'Casey\xa0Coleman',
 'Donn\xa0Roach',
 'Lester\xa0Oliveros',
 'Garrett\xa0Jones',
 'Leonel\xa0Campos',
 'Javy\xa0Guerra',
 'Steven\xa0Matz',
 'Colby\xa0Lewis',
 'Jeremy\xa0Affeldt',
 'Josh\xa0Wall',
 'Neal\xa0Cotts',
 'Ethan\xa0Martin',
 "Sean\xa0O'Sullivan",
 'Caleb\xa0Thielbar',
 'Chris\xa0Gimenez',
 'Wily\xa0Peralta',
 'Adam\xa0Wilk',
 'John\xa0Axford',
 'Xavier\xa0Cedeno',
 'Jerry\xa0Blevins',
 'Tyler\xa0Skaggs',
 'Brad\xa0Mills',
 'David\xa0Rollins',
 'James\xa0McDonald',
 'Casey\xa0Fien',
 'Alberto\xa0Cabrera',
 'Scott\xa0McGough',
 'Jeff\xa0Beliveau',
 'Mike\xa0Leake',
 'Juan\xa0Nicasio',
 'Juan\xa0Perez',
 'Jarrett\xa0Grube',
 'Carlos\xa0Carrasco',
 'Rob\xa0Scahill',
 'Erik\xa0Cordier',
 'Sammy\xa0Solis',
 'Clint\xa0Robinson',
 'Anthony\xa0Recker',
 'Tom\xa0Gorzelanny',
 'Billy\xa0Buckner',
 'Dale\xa0Thayer',
 'Burke\xa0Badenhop',
 'Chad\xa0Jenkins',
 'Jeremy\xa0Guthrie',
 'A.J.\xa0Schugel',
 'Cory\xa0Gearrin',
 'J.C.\xa0Ramirez',
 'John\xa0Danks',
 'CC\xa0Sabathia',
 'Chasen\xa0Shreve',
 'Mitch\xa0Moreland',
 'Donnie\xa0Joseph',
 'Ryan\xa0Tepera',
 'Zach\xa0Miner',
 'Hisanori\xa0Takahashi',
 'John\xa0Lannan',
 'Elvis\xa0Araujo',
 'Odrisamer\xa0Despaigne',
 'Scott\xa0Oberg',
 'Kyuji\xa0Fujikawa',
 'Matt\xa0Thornton',
 'Neil\xa0Ramirez',
 'Bradin\xa0Hagens',
 'Michael\xa0Blazek',
 'Zach\xa0Davies',
 'Dana\xa0Eveland',
 'Felipe\xa0Paulino',
 'Dylan\xa0Axelrod',
 'Steve\xa0Cishek',
 'Daisuke\xa0Matsuzaka',
 'Tim\xa0Cooney',
 'Matt\xa0Moore',
 'Jorge\xa0Rondon',
 'Tanner\xa0Scheppers',
 'Chris\xa0Rusin',
 'John\xa0Lackey',
 'Enny\xa0Romero',
 'Dan\xa0Jennings',
 'Shane\xa0Robinson',
 'Manny\xa0Corpas',
 'Tony\xa0Watson',
 'Hector\xa0Neris',
 'Jacob\xa0Turner',
 'Taijuan\xa0Walker',
 'Felix\xa0Hernandez',
 'Jose\xa0De\xa0La\xa0Torre',
 'Brett\xa0Cecil',
 'Addison\xa0Reed',
 'Barry\xa0Enright',
 'Ryan\xa0Kelly',
 'Charlie\xa0Morton',
 'Justin\xa0Masterson',
 'Edwin\xa0Jackson',
 'John\xa0Cornely',
 'Mike\xa0Bolsinger',
 'Josh\xa0Lueke',
 'Ian\xa0Thomas',
 'Matt\xa0Tracy',
 'Jon\xa0Gray',
 'Jose\xa0Alvarez',
 'Alec\xa0Asher',
 'Kyle\xa0Davies',
 'Burch\xa0Smith',
 'Greg\xa0Reynolds',
 'Onelki\xa0Garcia',
 'Miguel\xa0Castro',
 'Silvino\xa0Bracho',
 'Blake\xa0Treinen',
 'Kevin\xa0Whelan',
 'Mike\xa0Broadway',
 'Brandon\xa0Morrow',
 'Tim\xa0Stauffer',
 'Ryan\xa0Cook',
 'Alex\xa0Sanabia',
 'Keith\xa0Hessler',
 'Luke\xa0Putkonen',
 'Zach\xa0Britton',
 'Vance\xa0Worley',
 'Eric\xa0Surkamp',
 'Aaron\xa0Laffey',
 'Joe\xa0Smith',
 'Matt\xa0Wisler',
 'Joe\xa0Kelly',
 'Adam\xa0Ottavino',
 'Ross\xa0Ohlendorf',
 'Blake\xa0Wood',
 'Jason\xa0Motte',
 'Charles\xa0Leesman',
 'Josh\xa0Wilson',
 'David\xa0Price',
 'Cliff\xa0Pennington',
 'Jason\xa0Marquis',
 'Noe\xa0Ramirez',
 'Chris\xa0Narveson',
 'Francisco\xa0Rodriguez',
 'Dalier\xa0Hinojosa',
 'Skip\xa0Schumaker',
 'Al\xa0Alburquerque',
 'Jacob\xa0deGrom',
 'Jose\xa0De\xa0Paula',
 'Jose\xa0Quintana',
 'Will\xa0Harris',
 'Vince\xa0Velasquez',
 'Anthony\xa0DeSclafani',
 'A.J.\xa0Burnett',
 'Rhiner\xa0Cruz',
 'J.C.\xa0Gutierrez',
 'J.P.\xa0Howell',
 'Mariano\xa0Rivera',
 'Nick\xa0Christiani',
 'Chris\xa0Bassitt',
 'J.J.\xa0Hoover',
 'Bud\xa0Norris',
 'Marco\xa0Estrada',
 'Matt\xa0Guerrier',
 'Chris\xa0Rearick',
 'Tyler\xa0Wagner',
 'Cory\xa0Mazzoni',
 'Alexi\xa0Ogando',
 'Randy\xa0Choate',
 'Scott\xa0Baker',
 'Rob\xa0Johnson',
 'Adam\xa0Liberatore',
 'Andrew\xa0Faulkner',
 'Joe\xa0Ross',
 'Kevin\xa0Gausman',
 'Sam\xa0LeCure',
 'Nick\xa0Vincent',
 'Dan\xa0Haren',
 'Corey\xa0Kluber',
 'Aroldis\xa0Chapman',
 'Matt\xa0Andriese',
 'Trevor\xa0Gott',
 'Jason\xa0Grilli',
 'Andrew\xa0Bailey',
 'Jamey\xa0Carroll',
 'Bryan\xa0Morris',
 'Matt\xa0Shoemaker',
 'Seth\xa0Rosin',
 'Vinnie\xa0Pestano',
 'Chris\xa0Young',
 'Matt\xa0Reynolds',
 'Chang-Yong\xa0Lim',
 'Brandon\xa0Maurer',
 'Kyle\xa0Lohse',
 'T.J.\xa0House',
 'John\xa0Gast',
 'Ichiro\xa0Suzuki',
 'Kyle\xa0Kendrick',
 'Tyler\xa0Cloyd',
 'Paul\xa0Clemens',
 'Andrew\xa0Miller',
 'Mike\xa0Adams',
 'Scott\xa0Barnes',
 'Oliver\xa0Drake',
 'Jason\xa0Vargas',
 'Scott\xa0Kazmir',
 'Ricky\xa0Romero',
 'David\xa0Hernandez',
 'Hiram\xa0Burgos',
 'James\xa0Shields',
 'Tyler\xa0Matzek',
 'Gonzalez\xa0Germen',
 'Miguel\xa0Almonte',
 'Jim\xa0Johnson',
 'Roy\xa0Oswalt',
 'Robert\xa0Carson',
 'Bryan\xa0Mitchell',
 'Daniel\xa0Descalso',
 'Jordan\xa0Zimmermann',
 'Shawn\xa0Kelley',
 'Jesse\xa0Chavez',
 'Bobby\xa0Parnell',
 'Cam\xa0Bedrosian',
 'Shawn\xa0Camp',
 'Jhoulys\xa0Chacin',
 'Felipe\xa0Rivero',
 'Mark\xa0Lowe',
 'Chris\xa0Perez',
 'Derek\xa0Holland',
 'Everett\xa0Teaford',
 'Pedro\xa0Figueroa',
 'Matt\xa0Lindstrom',
 'Jerad\xa0Eickhoff',
 'Carl\xa0Edwards',
 'David\xa0Martinez',
 'Blaine\xa0Hardy',
 'Ryan\xa0Dull',
 'Raul\xa0Valdes',
 'Michael\xa0Kohn',
 'Ryan\xa0Pressly',
 'Daniel\xa0Bard',
 'Joe\xa0Thatcher',
 'Brooks\xa0Raley',
 'Andre\xa0Rienzo',
 'Sam\xa0Dyson',
 'David\xa0Buchanan',
 'Trevor\xa0Rosenthal',
 'C.C.\xa0Lee',
 'Chris\xa0Denorfia',
 'Chia-Jen\xa0Lo',
 'Jeremy\xa0Horst',
 'Ivan\xa0Nova',
 'Jorge\xa0De\xa0Leon',
 'Charlie\xa0Furbush',
 'Jesse\xa0Hahn',
 'Vidal\xa0Nuno',
 'Erik\xa0Johnson',
 'Josh\xa0Outman',
 'Yordano\xa0Ventura',
 'Marcus\xa0Stroman',
 'Eury\xa0De\xa0La\xa0Rosa',
 'Philip\xa0Humber',
 'Sean\xa0Henn',
 'Tommy\xa0Kahnle',
 'Kevin\xa0Jepsen',
 'Jeff\xa0Manship',
 'Cody\xa0Martin',
 'Mike\xa0Montgomery',
 'David\xa0Aardsma',
 'Phillippe\xa0Aumont',
 'Giovanni\xa0Soto',
 'Bobby\xa0LaFromboise',
 'Kameron\xa0Loe',
 'Shelby\xa0Miller',
 'Cole\xa0De\xa0Vries',
 'Justin\xa0Miller',
 'Cole\xa0Hamels',
 'Brandon\xa0League',
 'Carlos\xa0Martinez',
 'Mike\xa0Belfiore',
 'Luis\xa0Avilan',
 'Jonathan\xa0Sanchez',
 'Blaine\xa0Boyer',
 'Jake\xa0Diekman',
 'Ben\xa0Rowen',
 'Austin\xa0Adams',
 'Jeff\xa0Francoeur',
 'Scott\xa0Alexander',
 'Eric\xa0Fornataro',
 'Francisley\xa0Bueno',
 'Ricky\xa0Nolasco',
 'Brandon\xa0Gomes',
 'Keyvius\xa0Sampson',
 'Archie\xa0Bradley',
 'Carter\xa0Capps',
 'Duke\xa0Welker',
 'Paco\xa0Rodriguez',
 'Lyle\xa0Overbay',
 'Wilmer\xa0Font',
 'Simon\xa0Castro',
 'Mitch\xa0Harris',
 'Adam\xa0Conley',
 'Doug\xa0Fister',
 'Kris\xa0Johnson',
 'Alfredo\xa0Figaro',
 'Donnie\xa0Veal',
 'Rob\xa0Rasmussen',
 'Wade\xa0LeBlanc',
 'Yoervis\xa0Medina',
 'Evan\xa0Meek',
 'Michael\xa0Lorenzen',
 'Chase\xa0Whitley',
 'Daniel\xa0Norris',
 'Arnold\xa0Leon',
 'Jared\xa0Hughes',
 'Mario\xa0Hollands',
 'Mayckol\xa0Guaipe',
 'Alex\xa0Claudio',
 'Aaron\xa0Harang',
 'Wilton\xa0Lopez',
 'Darin\xa0Downs',
 'Jose\xa0Fernandez',
 'Joe\xa0Ortiz',
 'Matt\xa0Harvey',
 'Travis\xa0Blackley',
 'Sam\xa0Freeman',
 'Andrew\xa0Romine',
 'Brendan\xa0Ryan',
 'Dario\xa0Alvarez',
 'Sam\xa0Tuivailala',
 'Junior\xa0Guerra',
 'Jose\xa0Valverde',
 'Nick\xa0Rumbelow',
 'Arquimedes\xa0Caminero',
 'James\xa0Paxton',
 'Danny\xa0Salazar',
 'Kyle\xa0Drabek',
 'Jason\xa0Lane',
 'Kyle\xa0Lobstein',
 'Danny\xa0Farquhar',
 'Jake\xa0Arrieta',
 'Evan\xa0Marshall',
 'Garrett\xa0Richards',
 'Erasmo\xa0Ramirez',
 'Anibal\xa0Sanchez',
 'Nick\xa0Tropeano',
 'Aaron\xa0Loup',
 'Wei-Yin\xa0Chen',
 'Scott\xa0Atchison',
 'Mike\xa0Foltynewicz',
 'Brad\xa0Peacock',
 'Bryan\xa0Price',
 'Aaron\xa0Brooks',
 'Koji\xa0Uehara',
 'Kevin\xa0Quackenbush',
 'Gio\xa0Gonzalez',
 'Ted\xa0Lilly',
 'Edinson\xa0Volquez',
 'Rafael\xa0Betancourt',
 'Adam\xa0Warren',
 'Fernando\xa0Rodriguez',
 'Andy\xa0Pettitte',
 'Sam\xa0Deduno',
 'Jake\xa0Petricka',
 'Yovani\xa0Gallardo',
 'Chris\xa0Archer',
 'Jesus\xa0Sucre',
 'Gavin\xa0Floyd',
 'Josh\xa0Johnson',
 'Casper\xa0Wells',
 'Nick\xa0Masset',
 'Jamey\xa0Wright',
 'Jacob\xa0Lindgren',
 'Rex\xa0Brothers',
 'Luis\xa0Perez',
 'Mitchell\xa0Boggs',
 'Jon\xa0Moscot',
 'Jeff\xa0Ferrell',
 'Luis\xa0Garcia',
 'Logan\xa0Darnell',
 'Cory\xa0Burns',
 'Brian\xa0Omogrosso',
 'Andrew\xa0Bellatti',
 'Angel\xa0Castro',
 'Dane\xa0De\xa0La\xa0Rosa',
 'Jose\xa0Ortega',
 'Justin\xa0Marks',
 'Sergio\xa0Romo',
 'Ryan\xa0Webb',
 'Chad\xa0Durbin',
 'Carlos\xa0Frias',
 'Tsuyoshi\xa0Wada',
 'Chris\xa0Hatcher',
 'Homer\xa0Bailey',
 'Yhonathan\xa0Barrios',
 'Jeff\xa0Samardzija',
 'Stephen\xa0Fife',
 'Freddy\xa0Garcia',
 'Shae\xa0Simmons',
 'Jake\xa0Buchanan',
 'Mike\xa0Carp',
 'Jason\xa0Frasor',
 'Frank\xa0Garces',
 'Eduardo\xa0Rodriguez',
 'Carlos\xa0Villanueva',
 'Brandon\xa0Workman',
 'Drew\xa0Butera',
 'Pat\xa0Neshek',
 'Tommy\xa0Layne',
 'Gus\xa0Schlosser',
 'Vin\xa0Mazzaro',
 'Colton\xa0Murray',
 'Carlos\xa0Rodon',
 'Adam\xa0LaRoche',
 'Ramon\xa0Troncoso',
 'Ken\xa0Giles',
 'Robbie\xa0Ray',
 'Aaron\xa0Barrett',
 'Jean\xa0Machi',
 'Frank\xa0Francisco',
 'Tyler\xa0Robertson',
 'Rudy\xa0Owens',
 'Buddy\xa0Carlyle',
 'Joe\xa0Blanton',
 'Chris\xa0Dwyer',
 'Red\xa0Patterson',
 'Bartolo\xa0Colon',
 'Jose\xa0Urena',
 'Taylor\xa0Thompson',
 'Kyle\xa0Barraclough',
 'Scott\xa0Diamond',
 'Aaron\xa0Crow',
 'AJ\xa0Ramos',
 'Dave\xa0Bush',
 'Johnny\xa0Cueto',
 'Chad\xa0Smith',
 'Sugar\xa0Ray\xa0Marimon',
 'Carlos\xa0Marmol',
 'Dillon\xa0Gee',
 'Nick\xa0Tepesch',
 'Lucas\xa0Luetge',
 'Seth\xa0Maness',
 'Bruce\xa0Chen',
 'Alberto\xa0Gonzalez',
 'Josh\xa0Lindblom',
 'Adam\xa0Dunn',
 'Darren\xa0Oliver',
 'Casey\xa0Janssen',
 'Brooks\xa0Brown',
 'Scott\xa0Carroll',
 'Sergio\xa0Santos',
 'Roenis\xa0Elias',
 'David\xa0Ross',
 'Asher\xa0Wojciechowski',
 'Chad\xa0Qualls',
 'Julio\xa0Teheran',
 'Cesar\xa0Jimenez',
 'Yoslan\xa0Herrera',
 'Francisco\xa0Liriano',
 'Jason\xa0Garcia',
 'Chris\xa0Bootcheck',
 'Jim\xa0Miller',
 'Josh\xa0Stinson',
 'Ryan\xa0Brasier',
 'Raudel\xa0Lazo',
 'Greg\xa0Holland',
 'Joba\xa0Chamberlain',
 'Jeremy\xa0Jeffress',
 'Martin\xa0Maldonado',
 'Max\xa0Scherzer',
 'Kris\xa0Medlen',
 'Sean\xa0Doolittle',
 'Jason\xa0Hammel',
 'Nefi\xa0Ogando',
 'Ian\xa0Krol',
 'Brian\xa0Ellington',
 'Anthony\xa0Bass',
 'Edgmer\xa0Escalona',
 'Taylor\xa0Jungmann',
 'C.J.\xa0Wilson',
 'Robert\xa0Coello',
 'Chi\xa0Chi\xa0Gonzalez',
 'Huston\xa0Street',
 'Christian\xa0Bergman',
 'Jose\xa0Contreras',
 'Antonio\xa0Bastardo',
 'Collin\xa0McHugh',
 'Jimmy\xa0Nelson',
 'Tyler\xa0Duffey',
 'Jose\xa0Cisnero',
 'J.A.\xa0Happ',
 'Robbie\xa0Erlin',
 'Evan\xa0Scribner',
 'B.J.\xa0Rosenberg',
 'David\xa0Purcey',
 'Dallas\xa0Keuchel',
 'Mauricio\xa0Robles',
 'Nick\xa0Hagadone',
 'Masahiro\xa0Tanaka',
 'Pat\xa0McCoy',
 'Hector\xa0Ambriz',
 'Brett\xa0Bochy',
 'Bruce\xa0Billings',
 'Matt\xa0Boyd',
 'Rafael\xa0Dolis',
 'Jonathan\xa0Broxton',
 'Wilking\xa0Rodriguez',
 'Lisalverto\xa0Bonilla',
 'C.J.\xa0Riefenhauser',
 'Drake\xa0Britton',
 'Carson\xa0Smith',
 'Dan\xa0Winkler',
 'A.J.\xa0Cole',
 'Cesar\xa0Cabral',
 'Guido\xa0Knudson',
 'David\xa0Holmberg',
 'Brett\xa0Oberholtzer',
 'Tyler\xa0Clippard',
 'P.J.\xa0Walters',
 'Ramon\xa0Ortiz',
 'Daniel\xa0Webb',
 'Justin\xa0Nicolino',
 'Jason\xa0Gurka',
 'Taylor\xa0Hill',
 'Branden\xa0Pinder',
 'Junichi\xa0Tazawa',
 'Pedro\xa0Strop',
 'Kirby\xa0Yates',
 'Dallas\xa0Beeler',
 'Brian\xa0Duensing',
 'Brandon\xa0Kintzler',
 'Stephen\xa0Strasburg',
 'Kevin\xa0Correia',
 'Robbie\xa0Ross',
 'Ryan\xa0Buchter',
 'Jeremy\xa0Hellickson',
 'Pedro\xa0Villarreal',
 'Andrew\xa0Heaney',
 'Brett\xa0Myers',
 'Matt\xa0Langwell',
 'Vic\xa0Black',
 'Tyler\xa0Wilson',
 'Michael\xa0Stutes',
 'Sam\xa0Fuld',
 'Chris\xa0Beck',
 'Ryan\xa0Weber',
 'Scott\xa0Copeland',
 'Josh\xa0Smith',
 'Zack\xa0Greinke',
 'Gerrit\xa0Cole',
 'Phil\xa0Klein',
 'Henry\xa0Rodriguez',
 'Alex\xa0Wilson',
 'Kevin\xa0Chapman',
 'Jake\xa0Odorizzi',
 'Mike\xa0Gonzalez',
 'Michael\xa0Kirkman',
 'Joel\xa0Hanrahan',
 'Ryan\xa0Mattheus',
 'Nick\xa0Greenwood',
 'Brad\xa0Penny',
 'Jon\xa0Edwards',
 'Hector\xa0Santiago',
 'Nathan\xa0Eovaldi',
 'Brian\xa0Flynn',
 'Manny\xa0Banuelos',
 'Todd\xa0Redmond',
 'Thad\xa0Weber',
 'Heath\xa0Hembree',
 'Hyun-Jin\xa0Ryu',
 'Erik\xa0Davis',
 'Mike\xa0Wright',
 'Logan\xa0Kensing',
 'Grant\xa0Balfour',
 'Josh\xa0Collmenter',
 'Christian\xa0Friedrich',
 'Zach\xa0McAllister',
 'Jose\xa0Dominguez',
 'Michael\xa0Pineda',
 'Carlos\xa0Contreras',
 'John\xa0Holdzkom',
 'Ryan\xa0Dempster',
 'Jorge\xa0De\xa0La\xa0Rosa',
 'Juan\xa0Carlos\xa0Oviedo',
 'Edgar\xa0Ibarra',
 'Shawn\xa0Armstrong',
 'Buck\xa0Farmer',
 'Tim\xa0Hudson',
 'Brian\xa0Johnson',
 'Hiroki\xa0Kuroda',
 'Jairo\xa0Asencio',
 'Duane\xa0Below',
 'Alex\xa0Wood',
 'Matt\xa0Stites',
 'Zack\xa0Wheeler',
 'Jaff\xa0Decker',
 'Chris\xa0Volstad',
 'Eddie\xa0Butler',
 'Marc\xa0Rzepczynski',
 'Paul\xa0Maholm',
 'Chad\xa0Billingsley',
 'Radhames\xa0Liz',
 'Glen\xa0Perkins',
 'Tim\xa0Byrdak',
 'R.J.\xa0Alvarez',
 'Chris\xa0Heston',
 'Cody\xa0Hall',
 'Evan\xa0Reed',
 'Roberto\xa0Hernandez',
 'Brayan\xa0Villarreal',
 'Chance\xa0Ruffin',
 "Eric\xa0O'Flaherty",
 'Lance\xa0Lynn',
 'Fernando\xa0Abad',
 'Marco\xa0Gonzales',
 'Trevor\xa0Cahill',
 'Ross\xa0Detwiler',
 'Daniel\xa0Coulombe',
 'Ryan\xa0Vogelsong',
 'Yohan\xa0Pino',
 'Jeremy\xa0Bonderman',
 'Kyle\xa0Crockett',
 'Drew\xa0Rucinski',
 'Tyson\xa0Ross',
 'Mike\xa0Kickham',
 'Jack\xa0Leathersich',
 'Deunte\xa0Heath',
 'Joe\xa0Martinez',
 'Steve\xa0Geltz',
 'Jered\xa0Weaver',
 'Boone\xa0Logan',
 'Joe\xa0Beimel',
 'Carlos\xa0Torres',
 'Drew\xa0Hutchison',
 'Tyler\xa0Cravy',
 'Brad\xa0Ziegler',
 'Ryan\xa0Reid',
 'Zach\xa0Phillips',
 'Josh\xa0Osich',
 'Nate\xa0Karns',
 'Yu\xa0Darvish',
 'Wade\xa0Davis',
 'Clayton\xa0Kershaw',
 'Melvin\xa0Mercedes',
 'Jerome\xa0Williams',
 'Steve\xa0Johnson',
 'Ryan\xa0Madson',
 'Matt\xa0West',
 'Chris\xa0Martin',
 'Henry\xa0Owens',
 'Anthony\xa0Swarzak',
 'Mike\xa0Morin',
 'Henderson\xa0Alvarez',
 'George\xa0Kontos',
 'Kyle\xa0Gibson',
 'Travis\xa0Wood',
 'Victor\xa0Marte',
 'Anthony\xa0Varvaro',
 'David\xa0Murphy',
 'Josh\xa0Edgin',
 'Hector\xa0Noesi',
 'Ike\xa0Davis',
 'Josh\xa0Roenicke',
 'Matt\xa0Magill',
 'Trevor\xa0Bauer',
 'Severino\xa0Gonzalez',
 'Sean\xa0Burnett',
 'Clay\xa0Buchholz',
 'Chris\xa0Tillman',
 'Ian\xa0Kennedy',
 'Nick\xa0Martinez',
 'Corey\xa0Knebel',
 'Marcus\xa0Hatley',
 'A.J.\xa0Griffin',
 'Allen\xa0Webster',
 'Aaron\xa0Nola',
 'Mickey\xa0Storey',
 'Williams\xa0Perez',
 "Darren\xa0O'Day",
 'Brian\xa0Matusz',
 'Luke\xa0Hochevar',
 'Pedro\xa0Beato',
 'Joe\xa0Saunders',
 'Joel\xa0Peralta',
 'Joakim\xa0Soria',
 'Trevor\xa0Bell',
 'Preston\xa0Guilmet',
 'Kevin\xa0Slowey',
 'Chad\xa0Gaudin',
 'Jon\xa0Rauch',
 'Pedro\xa0Hernandez',
 'Wesley\xa0Wright',
 'Brett\xa0Marshall',
 'Josh\xa0Harrison',
 'Nathan\xa0Adcock',
 'David\xa0Goforth',
 'Randy\xa0Wolf',
 'Brandon\xa0Beachy',
 'Matt\xa0Harrison',
 'T.J.\xa0McFarland',
 'Cody\xa0Eppley',
 'Kyle\xa0Hendricks',
 'Jaime\xa0Garcia',
 'Luis\xa0Severino',
 'A.J.\xa0Achter',
 'Brad\xa0Brach',
 'Josh\xa0Tomlin',
 'Bronson\xa0Arroyo',
 'Michael\xa0Bowden',
 'Cliff\xa0Lee',
 'Drew\xa0Smyly',
 'Patrick\xa0Corbin',
 'Keone\xa0Kela',
 'Kevin\xa0Gregg',
 'Cody\xa0Anderson',
 'Roy\xa0Halladay',
 'Tommy\xa0Hanson',
 'Jon\xa0Niese',
 'Taylor\xa0Jordan',
 'Joe\xa0Wieland',
 'Jumbo\xa0Diaz',
 'Logan\xa0Ondrusek',
 'Jake\xa0Elmore',
 'Kendry\xa0Flores',
 'Danny\xa0Burawa',
 'Justin\xa0De\xa0Fratus',
 'Enrique\xa0Burgos',
 'Scott\xa0Elbert',
 'Justin\xa0Verlander',
 'Tommy\xa0Hunter',
 'Alfredo\xa0Simon',
 'Jose\xa0Mijares',
 'Justin\xa0Grimm',
 'Tyler\xa0Olson',
 'Tony\xa0Sipp',
 'Mike\xa0Pelfrey',
 'Jarred\xa0Cosart',
 'Nick\xa0Franklin',
 'Kyle\xa0McClellan',
 'Cory\xa0Rasmus',
 'Maikel\xa0Cleto',
 'Ryan\xa0Dennick',
 'Jonathan\xa0Papelbon',
 'Mike\xa0Fiers',
 'Troy\xa0Patton',
 'Steve\xa0Delabar',
 'Mike\xa0Minor',
 'J.J.\xa0Putz',
 'Randall\xa0Delgado',
 'Logan\xa0Verrett',
 'Brandon\xa0Cumpton',
 'Rafael\xa0Martin',
 'Matt\xa0Marksberry',
 'James\xa0Pazos',
 'Bryan\xa0Shaw',
 'Jake\xa0Dunning',
 'Erik\xa0Bedard',
 'Adam\xa0Loewen',
 'Luke\xa0Jackson',
 'J.P.\xa0Arencibia',
 'Jeff\xa0Locke',
 'David\xa0Robertson',
 'Jair\xa0Jurrjens',
 'Jordan\xa0Walden',
 'Edwin\xa0Escobar',
 'Brandon\xa0Cunniff',
 'Kelvin\xa0Herrera',
 'John\xa0Maine',
 'Martin\xa0Perez',
 'Kyle\xa0Ryan',
 'Brandon\xa0Finnegan',
 'Anthony\xa0Ranaudo',
 'Yunesky\xa0Maya',
 'Scott\xa0Downs',
 'Chad\xa0Bettis',
 'Craig\xa0Stammen',
 'Mark\xa0Buehrle',
 'Aaron\xa0Poreda',
 'Akeel\xa0Morris',
 'Johnny\xa0Hellweg',
 'Peter\xa0Moylan',
 'Matt\xa0Daley',
 'Madison\xa0Bumgarner',
 'Joe\xa0Nathan',
 'Felix\xa0Doubront',
 'Manny\xa0Parra',
 'Mychal\xa0Givens',
 'Andrew\xa0McKirahan',
 'James\xa0Russell',
 'Lucas\xa0Harrell',
 'Abel\xa0De\xa0Los\xa0Santos',
 'Chris\xa0Withrow',
 'Jay\xa0Jackson',
 'Oliver\xa0Perez',
 'Stephen\xa0Pryor',
 'Michael\xa0Roth',
 'Eduardo\xa0Sanchez',
 'Michael\xa0Feliz',
 'Pat\xa0Venditte',
 'Pedro\xa0Baez',
 'Jose\xa0Ramirez',
 'Craig\xa0Breslow',
 'Hector\xa0Rondon',
 'Toru\xa0Murata',
 'Miguel\xa0Socolovich',
 'Cristhian\xa0Martinez',
 'Ryan\xa0Raburn',
 'Alex\xa0Cobb',
 'Alex\xa0Meyer',
 'Tim\xa0Collins',
 'Matt\xa0Barnes',
 'Angel\xa0Nesbitt',
 'Jared\xa0Burton',
 'Alex\xa0Burnett',
 'Chaz\xa0Roe',
 'Javier\xa0Lopez',
 'Ryan\xa0Rowland-Smith',
 'Scott\xa0Rice',
 'Brad\xa0Hand',
 'Santiago\xa0Casilla',
 'Spencer\xa0Patton',
 "Ryan\xa0O'Rourke",
 'Ross\xa0Wolf',
 'Barry\xa0Zito',
 'Bo\xa0Schultz',
 'Bruce\xa0Rondon',
 'Kenny\xa0Roberts',
 'Trevor\xa0May',
 'Ervin\xa0Santana',
 'Heath\xa0Bell',
 'Kyle\xa0Farnsworth',
 'Chris\xa0Leroux',
 'Justin\xa0Freeman',
 'Justin\xa0Wilson',
 'Michael\xa0Tonkin',
 'Alfredo\xa0Aceves',
 'Matt\xa0Garza',
 'Curtis\xa0Partch',
 'Alexi\xa0Amarista',
 'Sean\xa0Nolin',
 'Andrew\xa0Cashner',
 'Lance\xa0McCullers',
 'Chin-hui\xa0Tsao',
 'John\xa0McDonald',
 'Dan\xa0Otero',
 'Hunter\xa0Strickland',
 'Jose\xa0Valdez',
 'Matt\xa0Belisle',
 'Dean\xa0Anna',
 'Jake\xa0Brigham',
 'Ariel\xa0Pena',
 'Cesar\xa0Ramos',
 'Zach\xa0Lee',
 'Jeanmar\xa0Gomez',
 'Eric\xa0Stults',
 'Phil\xa0Irwin',
 'Joe\xa0Savery',
 'Brandon\xa0McCarthy',
 'Casey\xa0Kelly',
 'LaTroy\xa0Hawkins',
 'Rich\xa0Hill',
 'Josh\xa0Zeid',
 'Zack\xa0Godley',
 'Pedro\xa0Feliciano',
 'Sean\xa0Gilmartin',
 'Scott\xa0Feldman',
 'J.R.\xa0Graham',
 'Juan\xa0Jaime',
 'Chris\xa0Reed',
 'Adrian\xa0Houser',
 'Ronald\xa0Belisario',
 'Chase\xa0Anderson',
 'R.A.\xa0Dickey',
 'Louis\xa0Coleman',
 'Mike\xa0Dunn',
 'Ernesto\xa0Frieri',
 'Steve\xa0Ames',
 'Colt\xa0Hynes',
 'Jenrry\xa0Mejia',
 'Dominic\xa0Leone',
 'Mike\xa0Zagurski',
 'Tyler\xa0Moore',
 'Danny\xa0Worth',
 'Jesse\xa0Crain',
 'Drew\xa0Storen',
 'Chris\xa0Sale',
 'Matt\xa0Cain',
 'Wade\xa0Miley',
 'Steven\xa0Wright',
 'Donovan\xa0Hand',
 'Dan\xa0Straily',
 'Aaron\xa0Thompson',
 'Yimi\xa0Garcia',
 'Tom\xa0Koehler',
 'Shairon\xa0Martis',
 'Rob\xa0Wooten',
 'Adam\xa0Wainwright',
 'Sonny\xa0Gray',
 'Tyler\xa0Thornburg',
 'Brett\xa0Anderson',
 'Jose\xa0Veras',
 'Deolis\xa0Guerra',
 'David\xa0Phelps',
 'Clayton\xa0Richard',
 'Edward\xa0Mujica',
 'Wei-Chung\xa0Wang',
 'Zeke\xa0Spruill',
 'Hisashi\xa0Iwakuma',
 'Tim\xa0Lincecum',
 'Jonny\xa0Gomes',
 'Raisel\xa0Iglesias',
 'Nick\xa0Goody',
 'Brandon\xa0Lyon',
 'Brad\xa0Boxberger',
 'Zac\xa0Rosscup',
 'Josh\xa0Fields',
 'Jonathan\xa0Aro',
 'Tony\xa0Zych',
 'Zach\xa0Duke',
 'Luis\xa0Mendoza',
 'Alex\xa0Colome',
 'Chien-Ming\xa0Wang',
 'Tom\xa0Wilhelmsen',
 'Neil\xa0Wagner',
 'Daniel\xa0Stange',
 'Travis\xa0Snider',
 'Ubaldo\xa0Jimenez',
 'Jorge\xa0Lopez',
 'Brad\xa0Lincoln',
 'Yusmeiro\xa0Petit',
 'Roberto\xa0Osuna',
 'Nate\xa0Jones',
 'Hideki\xa0Okajima',
 'Octavio\xa0Dotel',
 'Scott\xa0Snodgress',
 'Josh\xa0Ravin',
 'Buddy\xa0Boshers',
 'Matt\xa0Albers',
 'Tony\xa0Cingrani',
 'Jake\xa0McGee',
 'Greg\xa0Burke',
 'David\xa0Carpenter',
 'Dustin\xa0McGowan',
 'Daniel\xa0McCutchen',
 'Edgar\xa0Gonzalez',
 'Zach\xa0Clark',
 'Edgar\xa0Olmos',
 'Joe\xa0Paterson',
 'Ryan\xa0Feierabend',
 'Bobby\xa0Korecky',
 'Alexei\xa0Ramirez',
 'Rafael\xa0Soriano',
 'Jon\xa0Lester',
 'Brian\xa0Schlitter',
 'Fernando\xa0Salas',
 'Mat\xa0Latos',
 'Clayton\xa0Mortensen',

In [66]:
pitches_df.pitcher_name = pitches_df.pitcher_name.apply(lambda x: x.replace('\xa0', ' '))

In [78]:
set(pitches_df.pitcher_name) - set(all_pitchers.pitcher_name)

{"Eric O'Flaherty", "Ryan O'Rourke", "Sean O'Sullivan"}

In [81]:
set(pitches_df.pitcher_name) - set(all_pitchers.pitcher_name.apply(lambda x: x.replace("OFlaherty", "O'Flaherty"))\
                                  .apply(lambda x: x.replace("ORourke", "O'Rourke"))\
                                  .apply(lambda x: x.replace("OSullivan", "O'Sullivan")))

set()

In [83]:
all_pitchers.pitcher_name = all_pitchers.pitcher_name.apply(lambda x: x.replace("OFlaherty", "O'Flaherty"))\
                                  .apply(lambda x: x.replace("ORourke", "O'Rourke"))\
                                  .apply(lambda x: x.replace("OSullivan", "O'Sullivan"))

In [84]:
merge1_df = pd.merge(pitches_df, all_pitchers, how='left', on='pitcher_name')
merge1_df.head()

,count,pitcher_name,umpire_name,home_pitcher,inning,run_diff,strike_given_called,pitcher_race
0,0-0,Bud Norris,Sam Holbrook,1,1,0,True,white
1,0-0,Bud Norris,Sam Holbrook,1,1,0,False,white
2,1-1,Bud Norris,Sam Holbrook,1,1,0,True,white
3,1-2,Bud Norris,Sam Holbrook,1,1,0,False,white
4,0-0,Bud Norris,Sam Holbrook,1,1,0,False,white

In [86]:
any(merge1_df.pitcher_race.isna())

False

### Merge with umpire data to get umpire race

In [87]:
# Load umpire data
umpire_df = pd.read_csv("umpire_race.csv")
umpire_df.head()

   Unnamed: 0      umpire_name umpire_race
0           0     Jordan Baker       white
1           1  Lance Barksdale       white
2           2    Lance Barrett       white
3           3      Ted Barrett       white
4           4      Scott Barry       white

In [89]:
umpire_df.umpire_race.value_counts()

white       88
black        6
hispanic     6
Name: umpire_race, dtype: int64

In [95]:
umpire_df = umpire_df[['umpire_name', 'umpire_race']]
umpire_df.head()

       umpire_name umpire_race
0     Jordan Baker       white
1  Lance Barksdale       white
2    Lance Barrett       white
3      Ted Barrett       white
4      Scott Barry       white

In [102]:
set(merge1_df.umpire_name) - set(umpire_df.umpire_name)

{"Brian O'Nora"}

In [104]:
umpire_df[umpire_df.umpire_name == 'Brian ONora']

    umpire_name umpire_race
59  Brian ONora       white

In [106]:
umpire_df.umpire_name = umpire_df.umpire_name.apply(lambda x: x.replace("Brian ONora", "Brian O'Nora"))

In [107]:
merge2_df = pd.merge(merge1_df, umpire_df, how='left', on='umpire_name')
merge2_df.head()

,count,pitcher_name,umpire_name,home_pitcher,inning,run_diff,strike_given_called,pitcher_race,umpire_race
0,0-0,Bud Norris,Sam Holbrook,1,1,0,True,white,white
1,0-0,Bud Norris,Sam Holbrook,1,1,0,False,white,white
2,1-1,Bud Norris,Sam Holbrook,1,1,0,True,white,white
3,1-2,Bud Norris,Sam Holbrook,1,1,0,False,white,white
4,0-0,Bud Norris,Sam Holbrook,1,1,0,False,white,white

In [108]:
merge2_df[merge2_df.umpire_race.isna()]

Empty DataFrame
Columns: [count, pitcher_name, umpire_name, home_pitcher, inning, run_diff, strike_given_called, pitcher_race, umpire_race]
Index: []

In [111]:
# Finally, drop extra columns and convert strike_given_called to 1 or 0 to save space
merge2_df = merge2_df.drop(columns=['pitcher_name', 'umpire_name'])

In [113]:
merge2_df.strike_given_called = merge2_df.strike_given_called.apply(int)

In [114]:
merge2_df.head()

,count,home_pitcher,inning,run_diff,strike_given_called,pitcher_race,umpire_race
0,0-0,1,1,0,1,white,white
1,0-0,1,1,0,0,white,white
2,1-1,1,1,0,1,white,white
3,1-2,1,1,0,0,white,white
4,0-0,1,1,0,0,white,white

In [115]:
# Write out csv
merge2_df.to_csv("cp_merged.csv", index=False)